textarea {
    min-height: 400px;
}

.letter {
    display: inline-block;
    width: 75%;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: blue;
}

.inline {
    display: inline-block;
    width: 30%;
    padding: 5px;
}

.inline_arch {
    display: inline-block;
    padding: 5px;
}

.btn-link {
    display: inline-block;
    border: none;
    outline: none;
    background: none;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
}